<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.collect.core.task.mapper.TaskLogMapper">

    <insert id="insert" parameterType="com.study.collect.core.task.entity.TaskLog">
        INSERT INTO task_log (
            instance_id, task_code, log_type, log_content
        ) VALUES (
                     #{instanceId}, #{taskCode}, #{logType}, #{logContent}
                 )
    </insert>

    <insert id="batchInsert">
        INSERT INTO task_log (
        instance_id, task_code, log_type, log_content
        ) VALUES
        <foreach collection="logs" item="log" separator=",">
            (#{log.instanceId}, #{log.taskCode}, #{log.logType}, #{log.logContent})
        </foreach>
    </insert>

    <select id="selectByInstanceId" resultType="TaskLog">
        SELECT * FROM task_log
        WHERE instance_id = #{instanceId}
        ORDER BY create_time ASC
    </select>
</mapper>