<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.collect.core.task.mapper.TaskInstanceMapper">

    <insert id="insert" parameterType="TaskInstance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task_instance (
            instance_id, task_code, shard_index, shard_total,
            shard_param, status, host_name, start_time
        ) VALUES (
                     #{instanceId}, #{taskCode}, #{shardIndex}, #{shardTotal},
                     #{shardParam}, #{status}, #{hostName}, #{startTime}
                 )
    </insert>

    <update id="updateStatus">
        UPDATE task_instance
        SET status = #{status},
            error_msg = #{errorMsg},
            update_time = CURRENT_TIMESTAMP
        WHERE instance_id = #{instanceId}
    </update>

    <update id="updateEndTime">
        UPDATE task_instance
        SET end_time = #{endTime},
            update_time = CURRENT_TIMESTAMP
        WHERE instance_id = #{instanceId}
    </update>

    <select id="selectRunning" resultType="TaskInstance">
        SELECT * FROM task_instance WHERE status = 1
    </select>
</mapper>